.title1, .title2{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0 5px 0;
}

.title1:hover{
    color: #0A093D;
    cursor: pointer;
    text-decoration: underline;
}

.body1{
    color: #757575;
    max-width: 60vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body2{
    color: #383838;
    line-height: 25px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    
}

.answer{
    color: #757575;
}

.votes:hover, .mouseHaver:hover{
    cursor: pointer;
}
