.sign{
    padding: 15px;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #D4E7FE -40%, #FFFFFF 60%);
}

.sign .container{
    padding: 50px;
    width: 500px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -2px 4px 119px -14px rgba(0,0,0,0.6);
}

.sign .container img{
    width: 160px;
    margin-bottom: 20px;
}

.sign .container img:hover{
    cursor: pointer;
}

.sign .container h1{
    font-size: 30px;
    font-weight: 500;
    color: #0A093D;
}

.sign p{
    font-size: 15px;
    color: #0a093db2;
}

.sign p span{
    color: #4489f8;

}

.sign p span:hover{
    color: #0A093D;
    cursor: pointer;
}
